<ul class="breadcrumb">
  <li><%= link_to @current_user.name, retrospectives_path %> <span class="divider">/</span></li>
  <li><b>Perfil</b></li>
</ul>
<div class="row-fluid">
  <div class="span5">
    <img src="/assets/nelson.png"  title="<%= @current_user.name %>" alt="Ralph Steadman Artwork"/>
  </div><!-- div:span10 -->
  <div class="span6">
    <h3><%= @user.name %></h3>
    <legend></legend>
    <%= form_for(@user, html: {class: "nav-form"}) do |f| %>

      <% if @user.errors.any? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h4>Atenção!</h4>
          Os seguintes erros foram encontrados:
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <ul class="form">
        <li class="field">
          <label>Nome </label>
          <%= f.text_field :name, placeholder:"Nome", class: "span8" %>
        </li>
        <li class="field">
          <label>Email </label>
          <%= f.text_field :email, placeholder:"Email", class: "span8" %>
        </li>
        <li class="field">
          <label>Time </label>
          <%= f.collection_select(:team_id, @teams, :id, :name) %>
        </li>
        <% if @current_user.admin? %>
          <li class="field">
            <label>Papel </label>
            <%= select_tag("user[role]", options_for_select([ ['Selecione um nível', ''], ['Administrador', 'admin'], ['Líder de Time', 'team_leader'], ['PO', 'po'], ['Usuário', 'user'], ['CT', 'ct'], ['QA', 'qa'], ['Analista', 'analist'] ], @user.role))%>
          </li>
        <% end %>
        <li class="field">
          <%= f.submit "Salvar", class: "btn btn-primary btn-inverse" %>
        </li>
      </ul>
    <% end %>
  </div><!-- div:span3 -->
</div><!-- div:row -->
