<% @retrospective.goods.each do |item| %>
  <tr class="good" id="good-<%= item.id %>">
    <td class="good-desc"><%= best_in_place item, :description, type: :input, path: retrospective_good_path(@retrospective, item) %></td>
    <td id="<%= item_votes_id(item) %>"class="votes"><%= item.votes %></td>
    <td><%= link_to '', vote_up_url(model: item.class.to_s.downcase, id: item.id), remote: true, method: :post, class: 'icon-thumbs-up', name: "good-#{item.id}" %></td>
    <td><%= link_to '', vote_down_url(model: item.class.to_s.downcase, id: item.id), remote: true, method: :delete, class: 'icon-thumbs-down' %></td>
    <td>
      <input type="hidden" value="<%= item.id %>" />
      <%= link_to '', '#delete-good', class: 'icon-remove btn-delete-good', 'data-toggle' => 'modal' %>
    </td>
  </tr>
<% end %>
