<% @retrospective.bads.each do |item| %>
  <tr class="bad" id="bad-<%= item.id %>">
    <td class="bad-desc"><%= best_in_place item, :description, type: :input, path: retrospective_bad_path(item.retrospective, item) %></td>
    <td class="bad-action"><%= best_in_place item, :action, type: :input, path: retrospective_bad_path(item.retrospective, item) %></td>
    <td id="<%= item_votes_id(item) %>" class="votes"><%= item.votes %></td>
    <td><%= link_to '', vote_up_url(model: item.class.to_s.downcase, id: item.id), remote: true, method: :post, class: 'icon-thumbs-up', name: "bad-#{item.id}" %></td>
    <td><%= link_to '', vote_down_url(model: item.class.to_s.downcase, id: item.id), remote: true, method: :delete, class: 'icon-thumbs-down' %></td>
    <td>
      <input type="hidden" value="<%= item.id %>" />
      <%= link_to '', '#delete-bad', class: 'icon-remove btn-delete-bad', 'data-toggle' => 'modal' %>
    </td>
  </tr>
<% end %>
